$accentColor = #4527a0
$textColor = #212121
$borderColor = #bdbdbd
$codeBgColor = #282c34

.front {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("/front.jpg");
    background-size: cover;
    padding-top: 10%;
    
    
}

.sidebar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("/sidebar.jpg");
    background-size: cover;
}

h1, h2, h3 {
    border-bottom: none !important;
}

.content h1:after,.content h2:after,.content h3:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 0; /* This will center the border. */
    width: 5%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #4527a0; /* This creates the border. Replace black with whatever color you want. */
}

body
   overflow-x: hidden !important;  

@media (min-width: 1000px)
    .front
        max-height: 85vh;
    .home .features 
        margin-bottom: 170px !important;


@media  (max-width:999px) 
    .content.custom 
    
        background: #fff;
        position: absolute;
        padding: 20px 30px 0 20px !important;
        margin: 0;
        max-width: 100%;
        left: 0;
        overflow-x: hidden !important;







.home .hero, .home .description, .home .feature h2, .home .feature p{
    color: #fff !important;
}

.sidebar {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85)), url("/sidebar.jpg");
  color: #fff
}

.sidebar a {
    color: #fff;
}

.sidebar-links {
    background-color: #19212b;
    border-top: 1px solid #404854;
    border-bottom: 1px solid #404854;
    margin-top: 60px !important
}

.sidebar .nav-links {
    background-color: #19212b;
    border-top: none;
    border-bottom: 1px solid #404854;
}

.theme-container .sidebar {
  background-color: #262f3d;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #009688;
}

.theme-container .content code {
  background-color: #2e3d44;
}

.navbar {
    background-color: #7953d2 !important;
}

.site-name {
    color: #fff !important;
}

.nav-links, .nav-links a:hover, .nav-links a.router-link-active {
    color: #fff;
}

.search-box {
    display: inline-block;
    position: absolute;
    right: -15rem;
}

.navbar .links {
    font-size: 0.9rem;
    position: absolute;
    right: 16.5rem;
    top: 0.7rem;
}